/* Media
===================*/

.footer__mobile__text,
.footer__logo__mobile,
.desktop-hidden {
    display: none;
}


@media (max-width: 1250px) {

    .container {
        max-width: 1100px;
        margin: 0 auto;
    }

    .contacts__img {
        float: none;
        padding-left: 0px;
    }

    .contact__info {
        width: 70%;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 20px;

        gap: 20px;
    }

    .contact__tel:after {
        display: none;
    }

    .clients__block .pop_up img {
        max-height: 900px;
    }
    
}

@media (max-width: 1150px) {

    .container {
        max-width: 1000px;
        margin: 0 auto;
    }
    
    .contact__info {
        width: 100%;
    }
   
}

@media (max-width: 1000px) {
    
    .container {
        max-width: 900px;
        margin: 0 auto;
    }

    .about_us {
        height: auto;
        padding: 72px 0;
    }

    .about_us__paintings {
        display: flex;
        justify-content: center;
        align-items: center;
        
        background: none;
        height: 100%;
        padding-top: 0;
    }

    .about_us img {
        display: block;
        margin: auto;
        margin-top: 56px;
    }


    .together__img {
        width: 80%;
        margin-top: 26px;
        margin-left: 0px;
    }

    .features__item {
        width: 50%;
        padding: 0 40px;
        margin: 25px 0;
        text-align: left;
    }

    .contacts_block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    


    .footer {
        background: url("../images/footer/bg-mob.png") center no-repeat;
        
        -webkit-background-size: cover;
        background-size: cover;;
    
        background-color: #FFF;
        position: relative;
        color: #FFF;
    }

    .footer .footer-bg-headline {
        display: none;
    }

}

@media (max-width: 950px) {

    .container {
        max-width: 800px;
        margin: 0 auto;
    }


}

@media (max-width: 850px) {

    .container {
        max-width: 700px;
        margin: 0 auto;
    }

}


@media (max-width: 768px) {


    .mobile-hidden {
        display: none;
    }


    .full-screen__video {
        display: none;
    }

    .full-screen {
        background: url(../images/Bg-mob.png) no-repeat;

        background-size: cover;
        backdrop-filter: blur(10px);
    }


    .slider-button-prev,
    .slider-button-next {
        display: none !important;
    }

    .swiper-slide:not(.swiper-slide-active) img {
        filter: brightness(1);
    }


    .block__title, .about_us__paintings h2,.clients__block h2, h2 {
        font-size: 30px;
    }


    h4 {
        font-size: 16px;
    }

    h2 {
        font-size: 30px;
    }
    

    .desktop-hidden {
        display: block;
    }

    .nav {
        display: none;
        width: 100%;
        background: url(../images/bg-burger.png) no-repeat;
        position: absolute;
        top: 120px;
        left: 0;
        background-size: cover;
        height: 100vh;
    }

    .header-bg-active {
        background: url(../images/bg-burger.png) no-repeat;
        background-size: cover;
    }

    .nav.active {
        display: block;
    }

    .nav__link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }

    .nav-toggle {
        display: block;
    }

    .nav__phone {
        margin: 0;
        padding: 12px 21px;
    }

    .nav a {
        text-transform: uppercase;
    }

    .nav__menu a:last-of-type:after {
        content: "";
        display: block;
        width: 60px;
        height: 0.5px;
        
        background-color: #C19A5B;

        position: relative;
        transform: none;
        top: 0;
    }

    .nav__menu a:first-child {
        margin-top: 65px;
    }

    .nav .social-buttons {
        display: flex;
        gap: 25px;
        position: absolute;
        left: 20px;
        bottom: 179px;
    }

    .nav .social-buttons a {
        margin-right: 0;
    }

    .nav__phone::after {
        content: "";
        display: block;
        width: 60px;
        height: 0.5px;
        
        background-color: #C19A5B;
    } 

    .nav__link::after {
        content: "";
        display: block;
        width: 60px;
        height: 0.5px;
        
        background-color: #C19A5B;
    } 

    .header-content__logo {
        z-index: 2;
    }

    


    .features__item {
        padding: 0 0;
    }

    .video__review {
        width: 100%;
    }

    .video__button{
        width: 100%;
    }




    .full-screen .full-screen__content .social-buttons {
        display: none;
        flex-wrap: wrap;
        gap: 25px;
        align-self: flex-end;
    }

    .full-screen__title {
        font-size: 120px;
    }

    .full-screen__text {
        font-size: 16px;
    }

    .full-screen__body {
        width: 100%;
    }

    .social-buttons {
        display: none;
    }

    .full-screen__body .submit {
        width: 100%;
    }

    .container, .swiper-container {
        max-width: 620px;
        margin: 0 auto;
    }

    #features > .features {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    #features > .features > .features__item {
        width: 100%;
        text-align: center;
    }

    .together {
        display: flex;
        flex-wrap: wrap;

        justify-content: center;
    }

    .together__block__info {
        max-width: 100%; 
    }

    .clients img {
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .clients__block .pop_up img {
        max-height: 700px;
    }

    



    .footer {
        height: 100%;
    }

    .footer > .container > .footer__inner {
        display: flex;
        flex-direction: column;
    }


    .footer__last__block {
        display: none;
    }

    .footer__logo {
        margin-top: 57px;
    }

    .footer__message {
        order: 2;
    }

    .footer__logo__mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 5;
        gap: 4px;
        margin-bottom: 66px;
        color: #EBE6D78C;
    }

    .footer__logo__mobile::before {
        content: "";
        display: block;
        width: 286px;
        height: 1px;
        margin: 42px auto;
        
        background-color: #FFFFFF;
        opacity: 33%;
    }

    .footer__mobile__text {
        display: flex;
    }

    .footer__logo__mobile span {
        font-family: "Manrope", sans-serif;
        font-size: 16px;
        text-transform: uppercase;
    }

    .footer__message .footer__block h4 , .footer__text {
        font-family: "Manrope", sans-serif;
        font-size: 20px;
    }

    .footer__block .footer__logo {
        gap: 0;
    }


    .wa__button__work {
        width: 100%;
    }

    .footer__message{
        transform: scale(1);
    }

    

   

    
}

@media (max-width: 680px) {

    .container, .swiper-container {
        max-width: 570px;  
    }

    .clients__block .pop_up img {
        max-height: 500px;
    }
}



@media (max-width: 600px) {

    .container, .swiper-container {
        max-width: 500px;  
    }

    .full-screen__title {
        font-size: 85px;
    }



    .features__item {
        width: 80%;
    }
}


@media (max-width: 530px) {

    .container {
        max-width: 450px;  
    }

    .wa__button__work {
        margin: auto;
    }

}




@media (max-width: 450px) {

    .container, .swiper-container {
        max-width: 360px;
        
    }

    .full-screen__title {
        font-size: 65px;
    }

    .full-screen__text {
        font-size: 16px;
    }



    .features__item {
        width: 100%;
    }
}

@media (max-width: 375px) {

    .container, .swiper-container {
        max-width: 325px; 
    }
}